*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
p,
ul,
ol,
figure {
  margin: 0;
}
img,
picture {
  display: block;
  max-width: 100%;
}
button,
input,
select {
  font: inherit;
}
a {
  color: inherit;
}
table {
  border-collapse: collapse;
}
