---
interface Props {
  type?: 'info' | 'warning' | 'error';
  title?: string;
}
const { type = 'info', title = type === 'info' ? '提示' : type === 'warning' ? '注意' : '警告' } =
  Astro.props;
---

<aside class:list={['callout', `callout-${type}`]}>
  <strong>{title}</strong><div><slot /></div>
</aside>
