---
import { siteConfig } from '@/config/site';
import Navigation from './Navigation.astro';
import MobileNavigation from './MobileNavigation.astro';
---

<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">{siteConfig.shortName}<small>教书匠的心情记录</small></a><Navigation
    /><MobileNavigation />
  </div>
</header>
