---
interface Link {
  href: string;
  label: string;
}
interface Props {
  previous?: Link;
  next?: Link;
}
const { previous, next } = Astro.props;
---

{
  (previous || next) && (
    <nav class="pagination" aria-label="文章翻页">
      <>
        <div>{previous && <a href={previous.href}>← {previous.label}</a>}</div>
        <div>{next && <a href={next.href}>{next.label} →</a>}</div>
      </>
    </nav>
  )
}
